.idea
PythonBackend/.idea
PythonBackend/output
PythonBackend/docs
PythonBackend/cv
PythonBackend/temp_outputs/*
PythonBackend/cal
PythonBackend/Outputs/*
Outputs/*
Rules/*
PythonBackend/Rules/*
!PythonBackend/Rules/Sample.txt
!Rules/Sample.txt
PythonBackend/Sample.pdf
PythonBackend/__pycache__